{{- if eq .Layout "certifications" -}}
{{- $certificationsCSS := resources.Get "css/certifications.css" }}
{{- if $certificationsCSS }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $certificationsCSS := $certificationsCSS | fingerprint }}
<link rel="stylesheet" href="{{ $certificationsCSS.RelPermalink }}" integrity="{{ $certificationsCSS.Data.Integrity }}">
{{- else }}
<link rel="stylesheet" href="{{ $certificationsCSS.RelPermalink }}">
{{- end }}
{{- end }}
{{- end -}}

{{- if eq .Section "posts" -}}
{{- $projectsCSS := resources.Get "css/projects.css" }}
{{- if $projectsCSS }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $projectsCSS := $projectsCSS | fingerprint }}
<link rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}" integrity="{{ $projectsCSS.Data.Integrity }}">
{{- else }}
<link rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}">
{{- end }}
{{- end }}
{{- end -}}

{{- if eq .Section "articles" -}}
{{- $projectsCSS := resources.Get "css/projects.css" }}
{{- if $projectsCSS }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $projectsCSS := $projectsCSS | fingerprint }}
<link rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}" integrity="{{ $projectsCSS.Data.Integrity }}">
{{- else }}
<link rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}">
{{- end }}
{{- end }}
{{- end -}}

