name: Deploy Hugo site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  # Job de Construção
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        with:
          submodules: recursive # Baixa o tema PaperMod corretamente
          fetch-depth: 0

      - name: Instalar Hugo Extended
        uses: peaceiris/actions-hugo@v3  # <--- ESSA É A CORREÇÃO
        with:
          hugo-version: 'latest' # Pega a versão mais nova automaticamente
          extended: true         # Ativa o suporte a SASS/SCSS (Obrigatório)

      - name: Build do Site
        run: hugo --minify --baseURL "https://carvalhxlucas.pro/"

      - name: Upload do artefato
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  # Job de Deploy
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy no GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4